#!/usr/bin/make -f

export DEB_VERSION=$(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
export BUILD_VERSION=v${DEB_VERSION}-debian-pragmatic
export LUA_BOUNCER_BRANCH?=v1.0.11

%:
	dh $@

override_dh_systemd_start:
	echo "Not running dh_systemd_start"
override_dh_auto_clean:
	rm -rf lua-cs-bouncer
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	mkdir -p debian/crowdsec-openresty-bouncer/usr/local/openresty/nginx/conf/conf.d/
	cp openresty/crowdsec_openresty.conf debian/crowdsec-openresty-bouncer/usr/local/openresty/nginx/conf/conf.d/

	git clone -b "${LUA_BOUNCER_BRANCH}" https://github.com/crowdsecurity/lua-cs-bouncer.git

	mkdir -p debian/crowdsec-openresty-bouncer/usr/local/openresty/lualib/
	mkdir -p debian/crowdsec-openresty-bouncer/var/lib/crowdsec/lua/templates/
	cp -r lua-cs-bouncer/lib/* debian/crowdsec-openresty-bouncer/usr/local/openresty/lualib/
	cp -r lua-cs-bouncer/templates/* debian/crowdsec-openresty-bouncer/var/lib/crowdsec/lua/templates/
	mkdir -p debian/crowdsec-openresty-bouncer/etc/crowdsec/bouncers/
	cp lua-cs-bouncer/config_example.conf debian/crowdsec-openresty-bouncer/etc/crowdsec/bouncers/crowdsec-openresty-bouncer.conf
override_dh_usrlocal:
