#!/usr/bin/make -f

export DEB_VERSION=$(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
export BUILD_VERSION=v${DEB_VERSION}-debian-pragmatic


%:
	dh $@

override_dh_systemd_start:
	echo "Not running dh_systemd_start"
override_dh_auto_clean:
	rm -rf lua-cs-bouncer
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	mkdir -p debian/crowdsec-openresty-bouncer/usr/local/openresty/nginx/conf/conf.d/
	cp openresty/crowdsec_openresty.conf debian/crowdsec-openresty-bouncer/usr/local/openresty/nginx/conf/conf.d/
	git clone https://github.com/crowdsecurity/lua-cs-bouncer.git
	mkdir -p debian/crowdsec-openresty-bouncer/usr/local/openresty/lualib/plugins/crowdsec/
	cp lua-cs-bouncer/nginx/config.lua debian/crowdsec-openresty-bouncer/usr/local/openresty/lualib/plugins/crowdsec/
	cp lua-cs-bouncer/nginx/crowdsec.lua debian/crowdsec-openresty-bouncer/usr/local/openresty/lualib/plugins/crowdsec/
	cp lua-cs-bouncer/nginx/access.lua debian/crowdsec-openresty-bouncer/usr/local/openresty/lualib/plugins/crowdsec/
	cp lua-cs-bouncer/nginx/recaptcha.lua debian/crowdsec-openresty-bouncer/usr/local/openresty/lualib/plugins/crowdsec/
	mkdir -p debian/crowdsec-openresty-bouncer/etc/crowdsec/bouncers/
	cp lua-cs-bouncer/nginx/template.conf debian/crowdsec-openresty-bouncer/etc/crowdsec/bouncers/crowdsec-openresty-bouncer.conf
override_dh_usrlocal: